<%- include('./header') %>
  <main role="main" class="container" style="padding-top: 120px">

    <section class="jumbotron text-center" style="">
      <div class="container">
        <h1 class="jumbotron-heading">Buy Products</h1>
        <p style="max-width: 300px; margin: auto; margin-top: 30px">
          <a class="btn btn-outline-primary btn-block" id="start-btn" href="/dashboard/products">START</a>
        </p>
      </div>
    </section>

  </main><!-- /.container -->
<%- include('./footer') %>