<%- include('./header') -%>

<div class="container" style="max-width: 700px; margin-top: 100px">
  <h2 class="text-center" style="margin-bottom: 30px">Edit Product</h2>
  <!-- INPUT FORM -->
  <div class="row">
    <div class="col-lg-12">
      <form action="/products/edit" method="POST">
        <p><strong>Product Name</strong></p>
        <p><input type="text" name="productName" class="form-control" value="indomie"></p>

        <p><strong>Product Price</strong></p>
        <p><input type="text" name="price" class="form-control" value="indomilk"></p>

        <p>
          <button type="submit" class="btn btn-primary">Edit Product</button>
        </p>
      </form>
    </div>
  </div>
</div>

<%- include('./footer') -%>