#start-btn {
  color:white;
  padding: 1em;
  font-size: 1.5em;
  background-color: #007bff;
}

#start-btn:hover {
  color: #007bff;
  background-color: #ffffff;
}

#star {
  margin: 70px auto;
  margin-bottom: 40px;
  display: block;
  font-size: 7em;
  text-align: center;
  color: #fdcb6e;
}

#rank-1 a {
  font-size: 1.2em;
  color: #000000;
}

#rank-2 a {
  font-size: 0.9em;
  color: #595959;
}

#rank-3 a {
  font-size: 0.7em;
  color: #999999;
}

#rank-1 a:hover, 
#rank-2 a:hover, 
#rank-3 a:hover {
  text-decoration: none;
}

#footer {
  padding-top: 100px;
}

.jumbotron {
  padding: 8rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px #cccccc;
}

.table {
  box-shadow: 0 0 3px #cccccc;
}